@media (max-width: 375px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat var(--cor-primaria);
        background-size: contain;
    }

    .container {
        display: grid;
        grid-template-areas: "header"
        "sections"
        "about"
        "footer";
    }

    .header .logo {
        margin: 0;
        padding: 0;
    }

    .header .logo img {
        width: 65%;
        padding: 40px 35px
    }

    .sections {
        justify-items: center;
        display: flex;
        justify-content: center;
    }

    .sections .section {
        width: 320px;
        text-align: center;
    }

    .sections .section img {
        width: 100%;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .about .about-info h1 {
        font-size: 1.6rem;
        text-align: center;
        padding: 50px 0 20px;
    }

    .about .about-info {
        text-align: center;
        font-size: 1rem;
        padding-bottom: 18px;
        width: 300px;
    }

    .about .btn-section {
        margin: 0;
        font-size: 1rem;
        padding: 15px 100px;
    }

    .footer {
        justify-items: center;
        margin: 50px;
    }

    .footer .footer-icon {
        
    }

}

@media (max-width: 1440px) {

    .header .logo {
        margin: 0;
        padding: 0;
    }

    .header .logo img {
        padding: 40px 10px
    }
}
