body {
    font-family: "Poppins", "Open Sans", serif;
    background: url(../images/bg-desktop.svg) no-repeat var(--cor-primaria);
    background-size: contain;
}

.container {
    display: grid;
    grid-template-areas: "header ."
                        "sections about"
                        ". footer";
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

/* HEADER */

.header {
    grid-area: header;
    display: flex;
    justify-content: left;
    align-items: end;
}

.header .logo {
    padding-left: 460px;
    padding-bottom: 60px;
}

.header .logo img {
    padding-left: 100px;
}

/* SECTION */

.sections {
    grid-area: sections;
    justify-items: end;
    align-content: center;
}

.sections .section {
    display: flex;
    justify-content: center;
}

.sections .section img {
    
}

/* ABOUT */
.about {
    grid-area: about;
    justify-items: start;
    margin: 45px;
}

.about .about-info h1 {
    font-size: 2.5rem;
    color: #fff;
    padding-bottom: 35px;
}

.about .about-info {
    font-family: "Open Sans";
    color: #fff;
    width: 500px;
}

.about .btn-section {
    color: var(--cor-primaria);
    font-size: 1.2rem;
    margin-top: 35px;
    padding: 18px 65px;
    border-radius: 40px;
    border: none;
    transition: 0.3s ease-in-out;
}

.about .btn-section:hover {
    cursor: pointer;
    background-color: var(--cor-secundaria);
    color: #fff;
}

/* FOOTER */

.footer {
    grid-area: footer;
    margin-left: 350px;
}

.footer .footer-icon .fa-brands {
    margin: 5px;
}

.footer .footer-icon .fa-facebook-f {
    text-align: center;
    width: 45px;
    height: 45px;
    color: #fff;
    padding: 15px;
    border: 1px #fff solid;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.footer .footer-icon .fa-twitter {
    text-align: center;
    width: 45px;
    height: 45px;
    color: #fff;
    padding: 15px;
    border: 1px #fff solid;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.footer .footer-icon .fa-instagram {
    text-align: center;
    width: 45px;
    height: 45px;
    color: #fff;
    padding: 15px;
    border: 1px #fff solid;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.footer .footer-icon .fa-facebook-f:hover,
.footer .footer-icon .fa-twitter:hover,
.footer .footer-icon .fa-instagram:hover {
    color: var(--cor-secundaria);
    border: 1px var(--cor-secundaria) solid;
    cursor: pointer;
}